.com {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.com .harshofficial-com {
  background-color: var(--harsh-0-9officialcomwhite);
  overflow-x: hidden;
  width: 1440px;
  height: 900px;
  position: relative;
}

.com .overlap {
  position: absolute;
  width: 1627px;
  height: 1427px;
  top: 0;
  left: -187px;
}

.com .container {
  display: flex;
  flex-direction: column;
  width: 1440px;
  align-items: flex-start;
  gap: 50px;
  position: absolute;
  top: 0;
  left: 187px;
}

.com .background-wrapper {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 1px;
}

.com .background {
  position: relative;
  width: 1440px;
  height: 1376px;
  top: 50px;
  background-color: var(--harsh09officialcomquarter-spanish-white);
}

.com .container-wrapper {
  display: flex;
  flex-direction: column;
  width: 1440px;
  min-height: 1376px;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.com .overlap-wrapper {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 1376px;
}

.com .overlap-group {
  position: relative;
  width: 1440px;
  height: 1258px;
  top: 118px;
}

.com .main {
  width: 1440px;
  height: 732px;
  align-items: flex-start;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
}

.com .section {
  flex-direction: column;
  min-width: 980px;
  align-self: stretch;
  width: 100%;
  display: flex;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.com .div {
  position: absolute;
  width: 1440px;
  height: 732px;
  top: 0;
  left: 0;
  background-color: var(--harsh09officialcommercury-80);
}

.com .div-wrapper {
  min-width: 980px;
  justify-content: center;
  padding: 0px 60px;
  align-self: stretch;
  width: 100%;
  display: flex;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.com .container-2 {
  display: flex;
  width: 1320px;
  align-items: flex-start;
  justify-content: center;
  gap: 30px;
  position: relative;
  align-self: stretch;
}

.com .margin {
  display: flex;
  flex-direction: column;
  width: 528.44px;
  align-items: flex-start;
  justify-content: center;
  padding: 60px 0px;
  position: relative;
  align-self: stretch;
}

.com .container-3 {
  display: flex;
  flex-direction: column;
  height: 612px;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.com .container-4 {
  position: absolute;
  width: 528px;
  height: 612px;
  top: 0;
  left: 0;
  background-color: #428d78;
}

.com .container-5 {
  display: flex;
  flex-direction: column;
  min-height: 611px;
  align-items: flex-start;
  padding: 0px 102.22px 226px 15px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.com .margin-2 {
  display: flex;
  flex-direction: column;
  width: 411.22px;
  min-height: 256px;
  align-items: flex-start;
  padding: 81px 0px 41px 94.22px;
  position: relative;
  flex: 0 0 auto;
}

.com .heading-wrapper {
  display: flex;
  flex-direction: column;
  width: 317px;
  min-height: 134px;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.com .div-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.com .text-wrapper {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--harsh09official-com-montserrat-bold-56-font-family);
  font-weight: var(--harsh09official-com-montserrat-bold-56-font-weight);
  color: var(--harsh-0-9officialcomwhite);
  font-size: var(--harsh09official-com-montserrat-bold-56-font-size);
  letter-spacing: var(--harsh09official-com-montserrat-bold-56-letter-spacing);
  line-height: var(--harsh09official-com-montserrat-bold-56-line-height);
  font-style: var(--harsh09official-com-montserrat-bold-56-font-style);
}

.com .text-wrapper-2 {
  width: fit-content;
  font-family: var(--harsh09official-com-montserrat-bold-56-font-family);
  font-weight: var(--harsh09official-com-montserrat-bold-56-font-weight);
  color: var(--harsh-0-9officialcomwhite);
  font-size: var(--harsh09official-com-montserrat-bold-56-font-size);
  line-height: var(--harsh09official-com-montserrat-bold-56-line-height);
  position: relative;
  letter-spacing: var(--harsh09official-com-montserrat-bold-56-letter-spacing);
  font-style: var(--harsh09official-com-montserrat-bold-56-font-style);
}

.com .horizontal-border-wrapper {
  display: flex;
  flex-direction: column;
  width: 132.22px;
  height: 45px;
  align-items: flex-start;
  padding: 0px 0px 40px 94.22px;
  position: relative;
}

.com .horizontal-border {
  position: relative;
  width: 38px;
  height: 5px;
  border-top-width: 3px;
  border-top-style: solid;
  border-color: var(--harsh-0-9officialcomwhite);
}

.com .margin-3 {
  display: flex;
  flex-direction: column;
  width: 411.22px;
  min-height: 82px;
  align-items: flex-start;
  padding: 0px 0px 10px 94.22px;
  position: relative;
  flex: 0 0 auto;
}

.com .paragraph-wrapper {
  display: flex;
  flex-direction: column;
  width: 317px;
  min-height: 72px;
  align-items: flex-start;
  padding: 0px 0px 24px;
  position: relative;
  flex: 0 0 auto;
}

.com .p {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--harsh09official-com-inter-bold-18-28-font-family);
  font-weight: var(--harsh09official-com-inter-bold-18-28-font-weight);
  color: var(--harsh-0-9officialcomwhite);
  font-size: var(--harsh09official-com-inter-bold-18-28-font-size);
  letter-spacing: var(--harsh09official-com-inter-bold-18-28-letter-spacing);
  line-height: var(--harsh09official-com-inter-bold-18-28-line-height);
  font-style: var(--harsh09official-com-inter-bold-18-28-font-style);
}

.com .text-wrapper-3 {
  width: fit-content;
  font-family: var(--harsh09official-com-inter-bold-17-97-font-family);
  font-weight: var(--harsh09official-com-inter-bold-17-97-font-weight);
  color: var(--harsh-0-9officialcomwhite);
  font-size: var(--harsh09official-com-inter-bold-17-97-font-size);
  line-height: var(--harsh09official-com-inter-bold-17-97-line-height);
  position: relative;
  letter-spacing: var(--harsh09official-com-inter-bold-17-97-letter-spacing);
  font-style: var(--harsh09official-com-inter-bold-17-97-font-style);
}

.com .margin-4 {
  display: flex;
  flex-direction: column;
  width: 761.56px;
  align-items: flex-start;
  justify-content: center;
  padding: 60px 0px;
  position: relative;
  align-self: stretch;
}

.com .container-6 {
  position: absolute;
  width: 762px;
  height: 612px;
  top: 0;
  left: 0;
  background-color: var(--harsh-0-9officialcomwhite);
}

.com .container-7 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 41px 150.78px 52px 154.78px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.com .container-wrapper-2 {
  display: flex;
  flex-direction: column;
  width: 456px;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.com .container-8 {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 519px;
}

.com .margin-5 {
  display: flex;
  flex-direction: column;
  width: 200px;
  min-height: 86px;
  align-items: flex-start;
  padding: 36px 0px 25px;
  position: absolute;
  top: 0;
  left: 13px;
}

.com .container-9 {
  display: flex;
  flex-direction: column;
  width: 200px;
  min-height: 25px;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.com .label-margin {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 0px 8px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.com .label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 20px 0px 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.com .text-wrapper-4 {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: var(--harsh09official-com-inter-regular-13-23-font-family);
  font-weight: var(--harsh09official-com-inter-regular-13-23-font-weight);
  color: var(--harsh-0-9officialcomblack);
  font-size: var(--harsh09official-com-inter-regular-13-23-font-size);
  letter-spacing: var(--harsh09official-com-inter-regular-13-23-letter-spacing);
  line-height: var(--harsh09official-com-inter-regular-13-23-line-height);
  font-style: var(--harsh09official-com-inter-regular-13-23-font-style);
}

.com .input {
  position: relative;
  align-self: stretch;
  max-width: 200px;
  width: 100%;
  height: 40px;
  background-color: var(--harsh09officialcommercury-50);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: var(--harsh09officialcomblack-50);
}

.com .margin-6 {
  display: flex;
  flex-direction: column;
  width: 200px;
  min-height: 86px;
  align-items: flex-start;
  padding: 36px 0px 25px;
  position: absolute;
  top: 0;
  left: 243px;
}

.com .text-wrapper-5 {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: var(--harsh-0-9officialcomblack);
  font-size: 13.1px;
  letter-spacing: 0;
  line-height: 14px;
}

.com .margin-7 {
  display: flex;
  flex-direction: column;
  width: 200px;
  align-items: flex-start;
  padding: 0px 0px 25px;
  position: absolute;
  top: 123px;
  left: 13px;
}

.com .container-10 {
  display: flex;
  flex-direction: column;
  width: 200px;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  flex: 0 0 auto;
}

.com .div-3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  flex: 1;
  align-self: stretch;
  width: 100%;
  flex-grow: 1;
}

.com .overlay {
  display: flex;
  flex-direction: column;
  min-height: 40px;
  align-items: flex-start;
  justify-content: center;
  padding: 0px 0px 1px;
  position: relative;
  flex: 1;
  align-self: stretch;
  width: 100%;
  flex-grow: 1;
  background-color: var(--harsh09officialcommercury-50);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: var(--harsh09officialcomblack-50);
}

.com .input-2 {
  position: relative;
  flex: 1;
  width: 144px;
  flex-grow: 1;
}

.com .button-menu-open {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 12px;
  left: 164px;
}

.com .margin-8 {
  display: flex;
  flex-direction: column;
  width: 200px;
  min-height: 50px;
  align-items: flex-start;
  padding: 0px 0px 25px;
  position: absolute;
  top: 123px;
  left: 243px;
}

.com .margin-9 {
  display: flex;
  flex-direction: column;
  width: 200px;
  min-height: 50px;
  align-items: flex-start;
  padding: 0px 0px 25px;
  position: absolute;
  top: 210px;
  left: 13px;
}

.com .margin-10 {
  display: flex;
  flex-direction: column;
  width: 200px;
  align-items: flex-start;
  padding: 0px 0px 25px;
  position: absolute;
  top: 210px;
  left: 243px;
}

.com .container-11 {
  display: flex;
  flex-direction: column;
  width: 200px;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.com .container-12 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  flex: 1;
  align-self: stretch;
  width: 100%;
  flex-grow: 1;
}

.com .combobox-listbox {
  position: relative;
  flex: 1;
  align-self: stretch;
  min-width: 200px;
  max-width: 200px;
  width: 100%;
  min-height: 40px;
  flex-grow: 1;
  background-color: var(--harsh09officialcommercury-50);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: var(--harsh09officialcomblack-50);
}

.com .img {
  position: absolute;
  width: 52px;
  height: 40px;
  top: 0;
  left: 148px;
}

.com .margin-11 {
  display: flex;
  flex-direction: column;
  width: 200px;
  align-items: flex-start;
  padding: 0px 0px 47px;
  position: absolute;
  top: 297px;
  left: 13px;
}

.com .text-wrapper-6 {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: var(--harsh09official-com-inter-regular-13-56-font-family);
  font-weight: var(--harsh09official-com-inter-regular-13-56-font-weight);
  color: var(--harsh-0-9officialcomblack);
  font-size: var(--harsh09official-com-inter-regular-13-56-font-size);
  letter-spacing: var(--harsh09official-com-inter-regular-13-56-letter-spacing);
  line-height: var(--harsh09official-com-inter-regular-13-56-line-height);
  font-style: var(--harsh09official-com-inter-regular-13-56-font-style);
}

.com .margin-12 {
  display: flex;
  flex-direction: column;
  width: 200px;
  min-height: 72px;
  align-items: flex-start;
  padding: 0px 0px 47px;
  position: absolute;
  top: 297px;
  left: 243px;
}

.com .input-3 {
  display: flex;
  max-width: 200px;
  min-height: 40px;
  align-items: flex-start;
  justify-content: center;
  padding: 10.7px 3px 12.3px 7px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: var(--harsh09officialcommercury-50);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: var(--harsh09officialcomblack-50);
}

.com .container-13 {
  position: relative;
  flex-grow: 1;
  border: none;
  background: none;
  align-self: stretch;
  margin-top: -1px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #6e6e6e;
  font-size: 13.3px;
  letter-spacing: 0;
  line-height: normal;
  padding: 0;
}

.com .margin-13 {
  display: flex;
  flex-direction: column;
  width: 430px;
  height: 69px;
  align-items: flex-start;
  padding: 0px 0px 9px;
  position: absolute;
  top: 406px;
  left: 12px;
}

.com .button-wrapper {
  all: unset;
  box-sizing: border-box;
  position: relative;
  width: 430px;
  height: 60px;
}

.com .button {
  all: unset;
  box-sizing: border-box;
  height: 60px;
  background-color: #428d78;
  border: 1px solid;
}

.com .container-14 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  top: 20px;
  left: 193px;
}

.com .text-wrapper-7 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--harsh09official-com-inter-regular-13-34-font-family);
  font-weight: var(--harsh09official-com-inter-regular-13-34-font-weight);
  color: var(--harsh-0-9officialcomwhite);
  font-size: var(--harsh09official-com-inter-regular-13-34-font-size);
  letter-spacing: var(--harsh09official-com-inter-regular-13-34-letter-spacing);
  line-height: var(--harsh09official-com-inter-regular-13-34-line-height);
  white-space: nowrap;
  font-style: var(--harsh09official-com-inter-regular-13-34-font-style);
}

.com .footer {
  display: flex;
  width: 1440px;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  top: 702px;
  left: 0;
  background-color: transparent;
}

.com .section-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  flex: 1;
  align-self: stretch;
  flex-grow: 1;
}

.com .section-2 {
  min-width: 980px;
  justify-content: center;
  align-self: stretch;
  width: 100%;
  display: flex;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.com .container-15 {
  position: absolute;
  width: 1440px;
  height: 556px;
  top: 0;
  left: 0;
  background-color: var(--harsh-0-9officialcommidnight);
}

.com .container-16 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 0px 0.02px 0px 0px;
  position: relative;
  flex: 1;
  align-self: stretch;
  flex-grow: 1;
}

.com .container-17 {
  display: flex;
  flex-direction: column;
  width: 479.02px;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
}

.com .overlap-group-wrapper {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 556px;
}

.com .overlap-group-2 {
  position: relative;
  width: 328px;
  height: 461px;
  left: 37px;
}

.com .margin-14 {
  position: absolute;
  width: 118px;
  height: 188px;
  top: 0;
  left: 1px;
}

.com .margin-15 {
  display: flex;
  flex-direction: column;
  width: 276px;
  align-items: flex-start;
  padding: 93px 0px 10px 76.5px;
  position: absolute;
  top: 0;
  left: 52px;
}

.com .text-wrapper-8 {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: var(--harsh09official-com-montserrat-bold-20-font-family);
  font-weight: var(--harsh09official-com-montserrat-bold-20-font-weight);
  color: var(--harsh-0-9officialcomwhite);
  font-size: var(--harsh09official-com-montserrat-bold-20-font-size);
  letter-spacing: var(--harsh09official-com-montserrat-bold-20-letter-spacing);
  line-height: var(--harsh09official-com-montserrat-bold-20-line-height);
  font-style: var(--harsh09official-com-montserrat-bold-20-font-style);
}

.com .margin-16 {
  display: flex;
  flex-direction: column;
  width: 296px;
  align-items: flex-start;
  padding: 0px 0px 70px 76.5px;
  position: absolute;
  top: 187px;
  left: 1px;
}

.com .container-18 {
  display: flex;
  flex-direction: column;
  width: 220px;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.com .container-19 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 0px 0.59px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.com .delhi {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: var(--harsh09official-com-inter-regular-16-73-font-family);
  font-weight: var(--harsh09official-com-inter-regular-16-73-font-weight);
  color: var(--harsh-0-9officialcomwhite);
  font-size: var(--harsh09official-com-inter-regular-16-73-font-size);
  letter-spacing: var(--harsh09official-com-inter-regular-16-73-letter-spacing);
  line-height: var(--harsh09official-com-inter-regular-16-73-line-height);
  font-style: var(--harsh09official-com-inter-regular-16-73-font-style);
}

.com .margin-17 {
  display: flex;
  flex-direction: column;
  width: 296px;
  align-items: flex-start;
  padding: 0px 0px 10px 76.5px;
  position: absolute;
  top: 285px;
  left: 0;
}

.com .link-home-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 0px 0.58px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.com .link-home {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: var(--harsh09official-com-inter-regular-16-2-font-family);
  font-weight: var(--harsh09official-com-inter-regular-16-2-font-weight);
  color: var(--harsh-0-9officialcomwhite);
  font-size: var(--harsh09official-com-inter-regular-16-2-font-size);
  letter-spacing: var(--harsh09official-com-inter-regular-16-2-letter-spacing);
  line-height: var(--harsh09official-com-inter-regular-16-2-line-height);
  font-style: var(--harsh09official-com-inter-regular-16-2-font-style);
}

.com .container-20 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 0px 0.59px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  margin-top: -0.6px;
}

.com .text-wrapper-9 {
  color: var(--harsh-0-9officialcomwhite);
  font-size: var(--harsh09official-com-inter-regular-16-34-font-size);
  line-height: var(--harsh09official-com-inter-regular-16-34-line-height);
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: var(--harsh09official-com-inter-regular-16-34-font-family);
  font-weight: var(--harsh09official-com-inter-regular-16-34-font-weight);
  letter-spacing: var(--harsh09official-com-inter-regular-16-34-letter-spacing);
  font-style: var(--harsh09official-com-inter-regular-16-34-font-style);
}

.com .text-wrapper-10 {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: var(--harsh09official-com-inter-regular-15-94-font-family);
  font-weight: var(--harsh09official-com-inter-regular-15-94-font-weight);
  color: var(--harsh-0-9officialcomwhite);
  font-size: var(--harsh09official-com-inter-regular-15-94-font-size);
  letter-spacing: var(--harsh09official-com-inter-regular-15-94-letter-spacing);
  line-height: var(--harsh09official-com-inter-regular-15-94-line-height);
  font-style: var(--harsh09official-com-inter-regular-15-94-font-style);
}

.com .container-21 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 0px 0.58px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  margin-top: -0.6px;
}

.com .consult-online {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: var(--harsh09official-com-inter-regular-17-font-family);
  font-weight: var(--harsh09official-com-inter-regular-17-font-weight);
  color: transparent;
  font-size: var(--harsh09official-com-inter-regular-17-font-size);
  letter-spacing: var(--harsh09official-com-inter-regular-17-letter-spacing);
  line-height: var(--harsh09official-com-inter-regular-17-line-height);
  font-style: var(--harsh09official-com-inter-regular-17-font-style);
}

.com .span {
  color: #ffffff;
  font-family: var(--harsh09official-com-inter-regular-17-font-family);
  font-style: var(--harsh09official-com-inter-regular-17-font-style);
  font-weight: var(--harsh09official-com-inter-regular-17-font-weight);
  letter-spacing: var(--harsh09official-com-inter-regular-17-letter-spacing);
  line-height: var(--harsh09official-com-inter-regular-17-line-height);
  font-size: var(--harsh09official-com-inter-regular-17-font-size);
}

.com .text-wrapper-11 {
  color: #000000;
  font-family: var(--harsh09official-com-inter-regular-17-font-family);
  font-style: var(--harsh09official-com-inter-regular-17-font-style);
  font-weight: var(--harsh09official-com-inter-regular-17-font-weight);
  letter-spacing: var(--harsh09official-com-inter-regular-17-letter-spacing);
  line-height: var(--harsh09official-com-inter-regular-17-line-height);
  font-size: var(--harsh09official-com-inter-regular-17-font-size);
}

.com .container-22 {
  display: flex;
  flex-direction: column;
  width: 480.48px;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
}

.com .container-23 {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 555.56px;
}

.com .overlap-group-3 {
  position: absolute;
  width: 327px;
  height: 312px;
  top: 0;
  left: 27px;
}

.com .margin-18 {
  display: flex;
  flex-direction: column;
  width: 327px;
  align-items: flex-start;
  padding: 93px 0px 18px 76.73px;
  position: absolute;
  top: 0;
  left: 0;
}

.com .container-24 {
  display: flex;
  flex-direction: column;
  width: 250px;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.com .margin-19 {
  display: flex;
  flex-direction: column;
  width: 297px;
  align-items: flex-start;
  padding: 0px 0px 57px 76.73px;
  position: absolute;
  top: 134px;
  left: 0;
}

.com .link-customers {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: var(--harsh09official-com-inter-regular-15-8-font-family);
  font-weight: var(--harsh09official-com-inter-regular-15-8-font-weight);
  color: var(--harsh-0-9officialcomwhite);
  font-size: var(--harsh09official-com-inter-regular-15-8-font-size);
  letter-spacing: var(--harsh09official-com-inter-regular-15-8-letter-spacing);
  line-height: var(--harsh09official-com-inter-regular-15-8-line-height);
  font-style: var(--harsh09official-com-inter-regular-15-8-font-style);
}

.com .link-careers {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: var(--harsh09official-com-inter-regular-15-67-font-family);
  font-weight: var(--harsh09official-com-inter-regular-15-67-font-weight);
  color: var(--harsh-0-9officialcomwhite);
  font-size: var(--harsh09official-com-inter-regular-15-67-font-size);
  letter-spacing: var(--harsh09official-com-inter-regular-15-67-letter-spacing);
  line-height: var(--harsh09official-com-inter-regular-15-67-line-height);
  font-style: var(--harsh09official-com-inter-regular-15-67-font-style);
}

.com .margin-20 {
  display: flex;
  flex-direction: column;
  width: 327px;
  align-items: flex-start;
  padding: 0px 0px 14px 76.73px;
  position: absolute;
  top: 274px;
  left: 0;
}

.com .comming-soon {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: var(--harsh09official-com-montserrat-regular-20-font-family);
  font-weight: var(--harsh09official-com-montserrat-regular-20-font-weight);
  color: var(--harsh-0-9officialcomwhite);
  font-size: var(--harsh09official-com-montserrat-regular-20-font-size);
  letter-spacing: var(--harsh09official-com-montserrat-regular-20-letter-spacing);
  line-height: var(--harsh09official-com-montserrat-regular-20-line-height);
  font-style: var(--harsh09official-com-montserrat-regular-20-font-style);
}

.com .margin-21 {
  display: flex;
  flex-direction: column;
  width: 380px;
  align-items: flex-start;
  padding: 0px 0px 70px 76.73px;
  position: absolute;
  top: 312px;
  left: 27px;
}

.com .container-25 {
  display: flex;
  flex-direction: column;
  width: 303px;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.com .container-26 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.com .container-27 {
  display: flex;
  flex-direction: column;
  height: 43px;
  align-items: flex-end;
  justify-content: center;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.com .container-28 {
  display: flex;
  flex-direction: column;
  width: 303px;
  max-height: 99999px;
  height: 43px;
  align-items: flex-start;
  justify-content: center;
  position: relative;
}

.com .container-29 {
  display: flex;
  flex-direction: column;
  height: 43px;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.com .container-30 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.com .container-31 {
  display: flex;
  flex-direction: column;
  width: 300px;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  flex: 0 0 auto;
}

.com .container-32 {
  display: flex;
  height: 43px;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.com .margin-22 {
  display: flex;
  flex-direction: column;
  width: 150px;
  height: 43px;
  align-items: flex-start;
  padding: 0px 6px 0px 0px;
  position: relative;
}

.com .link-wrapper {
  position: relative;
  width: 144px;
  height: 43px;
}

.com .link {
  display: flex;
  flex-direction: column;
  width: 144px;
  align-items: flex-start;
  justify-content: center;
  position: relative;
}

.com .picture {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.com .apple-png {
  position: relative;
  flex: 1;
  align-self: stretch;
  flex-grow: 1;
  background-image: url(./img/apple-png.png);
  background-size: cover;
  background-position: 50% 50%;
}

.com .margin-23 {
  display: flex;
  flex-direction: column;
  width: 150px;
  height: 43px;
  align-items: flex-start;
  padding: 0px 0px 0px 6px;
  position: relative;
}

.com .google-png {
  position: relative;
  flex: 1;
  align-self: stretch;
  flex-grow: 1;
  background-image: url(./img/google-png.png);
  background-size: cover;
  background-position: 50% 50%;
}

.com .margin-24 {
  display: flex;
  flex-direction: column;
  width: 927px;
  min-height: 131px;
  align-items: flex-start;
  padding: 0px 0px 64px 76.73px;
  position: absolute;
  top: 425px;
  left: -238px;
}

.com .container-33 {
  display: flex;
  flex-direction: column;
  width: 850px;
  min-height: 67px;
  align-items: flex-start;
  padding: 0px 0px 50px;
  position: relative;
  flex: 0 0 auto;
}

.com .container-34 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 352.06px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.com .text-wrapper-12 {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: var(--harsh09official-com-inter-regular-12-8-font-family);
  font-weight: var(--harsh09official-com-inter-regular-12-8-font-weight);
  color: var(--harsh-0-9officialcomwhite);
  font-size: var(--harsh09official-com-inter-regular-12-8-font-size);
  text-align: center;
  letter-spacing: var(--harsh09official-com-inter-regular-12-8-letter-spacing);
  line-height: var(--harsh09official-com-inter-regular-12-8-line-height);
  font-style: var(--harsh09official-com-inter-regular-12-8-font-style);
}

.com .overlap-group-4 {
  position: relative;
  width: 337px;
  height: 424px;
  left: 20px;
}

.com .margin-25 {
  display: flex;
  flex-direction: column;
  width: 327px;
  align-items: flex-start;
  padding: 93px 0px 18px 76.73px;
  position: absolute;
  top: 0;
  left: 10px;
}

.com .margin-26 {
  display: flex;
  flex-direction: column;
  width: 297px;
  align-items: flex-start;
  padding: 0px 0px 30px 76.73px;
  position: absolute;
  top: 134px;
  left: 10px;
}

.com .button-dialog-wrapper {
  all: unset;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 0px 0.59px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.com .button-dialog {
  all: unset;
  box-sizing: border-box;
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: var(--harsh09official-com-inter-regular-15-67-font-family);
  font-weight: var(--harsh09official-com-inter-regular-15-67-font-weight);
  color: var(--harsh-0-9officialcomwhite);
  font-size: var(--harsh09official-com-inter-regular-15-67-font-size);
  letter-spacing: var(--harsh09official-com-inter-regular-15-67-letter-spacing);
  line-height: var(--harsh09official-com-inter-regular-15-67-line-height);
  font-style: var(--harsh09official-com-inter-regular-15-67-font-style);
}

.com .link-book-an {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: var(--harsh-0-9officialcomwhite);
  font-size: 16.5px;
  letter-spacing: 0;
  line-height: 27.2px;
}

.com .text-wrapper-13 {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: var(--harsh09official-com-inter-regular-16-07-font-family);
  font-weight: var(--harsh09official-com-inter-regular-16-07-font-weight);
  color: var(--harsh-0-9officialcomwhite);
  font-size: var(--harsh09official-com-inter-regular-16-07-font-size);
  letter-spacing: var(--harsh09official-com-inter-regular-16-07-letter-spacing);
  line-height: var(--harsh09official-com-inter-regular-16-07-line-height);
  font-style: var(--harsh09official-com-inter-regular-16-07-font-style);
}

.com .link-privacy-policy {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: var(--harsh09official-com-inter-regular-15-27-font-family);
  font-weight: var(--harsh09official-com-inter-regular-15-27-font-weight);
  color: var(--harsh-0-9officialcomwhite);
  font-size: var(--harsh09official-com-inter-regular-15-27-font-size);
  letter-spacing: var(--harsh09official-com-inter-regular-15-27-letter-spacing);
  line-height: var(--harsh09official-com-inter-regular-15-27-line-height);
  font-style: var(--harsh09official-com-inter-regular-15-27-font-style);
}

.com .margin-27 {
  display: flex;
  flex-direction: column;
  width: 261px;
  height: 42px;
  align-items: flex-start;
  padding: 0px 0px 10px 76.73px;
  position: absolute;
  top: 382px;
  left: 0;
}

.com .list-social-bar-wrapper {
  position: relative;
  width: 184px;
  height: 32px;
}

.com .list-social-bar {
  display: flex;
  width: 184px;
  height: 32px;
  align-items: flex-start;
  gap: 6px;
  position: relative;
}

.com .item {
  width: 32px;
  justify-content: center;
  position: relative;
  display: flex;
  align-items: flex-start;
}

.com .wow-image-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.com .wow-image {
  position: relative;
  width: 32px;
  height: 32px;
  background-image: url(./img/wow-image-23fd2a2be53141ed810f4d3dcdcd01fa-png.png);
  background-size: cover;
  background-position: 50% 50%;
}

.com .wow-image-2 {
  position: relative;
  width: 32px;
  height: 32px;
  background-image: url(./img/wow-image-81af6121f84c41a5b4391d7d37fce12a-png.png);
  background-size: cover;
  background-position: 50% 50%;
}

.com .wow-image-3 {
  position: relative;
  width: 32px;
  height: 32px;
  background-image: url(./img/wow-image-01ab6619093f45388d66736ec22e5885-png.png);
  background-size: cover;
  background-position: 50% 50%;
}

.com .wow-image-4 {
  position: relative;
  width: 32px;
  height: 32px;
  background-image: url(./img/wow-image-7528824071724d12a3e6c31eee0b40d4-png.png);
  background-size: cover;
  background-position: 50% 50%;
}

.com .wow-image-5 {
  position: relative;
  width: 32px;
  height: 32px;
  background-image: url(./img/wow-image-203dcdc2ac8b48de89313f90d2a4cda1-png.png);
  background-size: cover;
  background-position: 50% 50%;
}

.com .header {
  display: flex;
  flex-direction: column;
  width: 1627px;
  align-items: flex-start;
  position: absolute;
  top: 2px;
  left: 0;
  background-color: transparent;
}

.com .container-35 {
  display: flex;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.com .margin-28 {
  position: relative;
  width: 284px;
  height: 118px;
}

.com .section-margin {
  display: flex;
  flex-direction: column;
  width: 1300px;
  align-items: center;
  padding: 14px 0px 0px;
  position: relative;
  margin-left: -27px;
}

.com .section-3 {
  width: 1300px;
  justify-content: center;
  display: flex;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.com .container-36 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  flex: 1;
  align-self: stretch;
  flex-grow: 1;
}

.com .container-37 {
  display: flex;
  flex-direction: column;
  width: 181.73px;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
}

.com .container-38 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px 13.73px 45px 12px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.com .container-39 {
  display: flex;
  flex-direction: column;
  width: 156px;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.com .link-cityhospital {
  position: relative;
  width: 209px;
  margin-top: -1px;
  margin-right: -53px;
  font-family: var(--harsh09official-com-montserrat-bold-24-font-family);
  font-weight: var(--harsh09official-com-montserrat-bold-24-font-weight);
  color: #428d78;
  font-size: var(--harsh09official-com-montserrat-bold-24-font-size);
  letter-spacing: var(--harsh09official-com-montserrat-bold-24-letter-spacing);
  line-height: var(--harsh09official-com-montserrat-bold-24-line-height);
  font-style: var(--harsh09official-com-montserrat-bold-24-font-style);
}

.com .container-40 {
  display: flex;
  flex-direction: column;
  width: 1118.27px;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
}

.com .container-41 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 4px 0px 19px 48.27px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.com .container-42 {
  display: flex;
  flex-direction: column;
  width: 1096px;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
  margin-right: -26px;
}

.com .background-shadow {
  position: absolute;
  width: 1096px;
  height: 81px;
  top: 0;
  left: 0;
  background-color: var(--harsh-0-9officialcomwhite);
  border-radius: 100px;
  box-shadow: 0px 0px 16px #0000001a;
}

.com .container-43 {
  display: flex;
  flex-direction: column;
  width: 1096px;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.com .container-44 {
  display: flex;
  align-items: flex-start;
  gap: 5px;
  padding: 0px 16px 0px 14px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.com .wix-dropdown-menu {
  display: flex;
  flex-direction: column;
  height: 81px;
  align-items: flex-start;
  padding: 18px 0px 13px;
  width: 867px;
  position: relative;
}

.com .nav-site-wrapper {
  height: 50px;
  width: 867px;
  position: relative;
}

.com .nav-site {
  height: 50px;
}

.com .list {
  position: relative;
  width: 867px;
  height: 50px;
  background-color: var(--harsh09officialcomwhite-rock);
  border-radius: 80px;
}

.com .item-2 {
  width: 174px;
  justify-content: flex-end;
  position: absolute;
  top: -8px;
  left: 0;
  border-radius: 80px 0px 0px 80px;
  display: flex;
  align-items: flex-start;
}

.com .link-2 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 0px 5px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.com .container-45 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 35.79px 7.5px 37.03px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.com .text-wrapper-14 {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: var(--harsh09official-com-inter-regular-14-06-font-family);
  font-weight: var(--harsh09official-com-inter-regular-14-06-font-weight);
  color: var(--harsh09officialcomdove-gray);
  font-size: var(--harsh09official-com-inter-regular-14-06-font-size);
  text-align: center;
  letter-spacing: var(--harsh09official-com-inter-regular-14-06-letter-spacing);
  line-height: var(--harsh09official-com-inter-regular-14-06-line-height);
  font-style: var(--harsh09official-com-inter-regular-14-06-font-style);
}

.com .item-3 {
  width: 174px;
  justify-content: flex-end;
  position: absolute;
  top: -8px;
  left: 174px;
  display: flex;
  align-items: flex-start;
}

.com .link-3 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 0px 5px 0px 6px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.com .container-46 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 48.71px 7.5px 50.48px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.com .item-4 {
  width: 173px;
  justify-content: flex-end;
  position: absolute;
  top: -8px;
  left: 348px;
  display: flex;
  align-items: flex-start;
}

.com .container-47 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 18.36px 7.5px 19.25px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.com .text-wrapper-15 {
  width: 161px;
  margin-top: -1px;
  margin-left: -18.31px;
  margin-right: -18.31px;
  font-family: var(--harsh09official-com-inter-regular-13-13-font-family);
  font-weight: var(--harsh09official-com-inter-regular-13-13-font-weight);
  color: var(--harsh09officialcomdove-gray);
  font-size: var(--harsh09official-com-inter-regular-13-13-font-size);
  text-align: center;
  line-height: var(--harsh09official-com-inter-regular-13-13-line-height);
  position: relative;
  letter-spacing: var(--harsh09official-com-inter-regular-13-13-letter-spacing);
  font-style: var(--harsh09official-com-inter-regular-13-13-font-style);
}

.com .item-5 {
  width: 173px;
  justify-content: flex-end;
  position: absolute;
  top: -8px;
  left: 521px;
  display: flex;
  align-items: flex-start;
}

.com .container-48 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 32.38px 7.5px 33.55px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.com .text-wrapper-16 {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: var(--harsh09official-com-inter-regular-13-95-font-family);
  font-weight: var(--harsh09official-com-inter-regular-13-95-font-weight);
  color: var(--harsh09officialcomdove-gray);
  font-size: var(--harsh09official-com-inter-regular-13-95-font-size);
  text-align: center;
  letter-spacing: var(--harsh09official-com-inter-regular-13-95-letter-spacing);
  line-height: var(--harsh09official-com-inter-regular-13-95-line-height);
  font-style: var(--harsh09official-com-inter-regular-13-95-font-style);
}

.com .item-6 {
  width: 173px;
  justify-content: flex-end;
  position: absolute;
  top: -8px;
  left: 694px;
  border-radius: 0px 80px 80px 0px;
  display: flex;
  align-items: flex-start;
}

.com .container-49 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 49.37px 7.5px 51.23px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.com .text-wrapper-17 {
  color: var(--harsh09officialcomdove-gray);
  font-size: var(--harsh09official-com-inter-regular-13-01-font-size);
  text-align: center;
  line-height: var(--harsh09official-com-inter-regular-13-01-line-height);
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: var(--harsh09official-com-inter-regular-13-01-font-family);
  font-weight: var(--harsh09official-com-inter-regular-13-01-font-weight);
  letter-spacing: var(--harsh09official-com-inter-regular-13-01-letter-spacing);
  font-style: var(--harsh09official-com-inter-regular-13-01-font-style);
}

.com .margin-29 {
  display: flex;
  flex-direction: column;
  width: 194px;
  height: 81px;
  align-items: flex-start;
  padding: 15px 0px 16px;
  position: relative;
}

.com .container-50 {
  position: relative;
  width: 194px;
  height: 50px;
}

.com .link-4 {
  height: 50px;
  background-color: var(--harsh-0-9officialcomviridian);
  border-radius: 30px;
  border: 1px solid;
  border-color: #428d78;
}

.com .container-51 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 0px 0.9px;
  position: relative;
  top: 12px;
  left: 12px;
}

.com .text-wrapper-18 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--harsh09official-com-inter-regular-16-47-font-family);
  font-weight: var(--harsh09official-com-inter-regular-16-47-font-weight);
  color: var(--harsh-0-9officialcomwhite);
  font-size: var(--harsh09official-com-inter-regular-16-47-font-size);
  letter-spacing: var(--harsh09official-com-inter-regular-16-47-letter-spacing);
  line-height: var(--harsh09official-com-inter-regular-16-47-line-height);
  white-space: nowrap;
  font-style: var(--harsh09official-com-inter-regular-16-47-font-style);
}

.com .main-2 {
  width: 200px;
  align-items: flex-end;
  position: fixed;
  top: 824px;
  left: 1220px;
  display: flex;
  flex-direction: column;
}

.com .container-52 {
  position: relative;
  width: 200px;
  flex: 0 0 auto;
}