:root {
  --harsh-0-9officialwixsitecomblack: rgba(0, 0, 0, 1);
  --harsh09officialwixsitecomcurious-blue: rgba(34, 137, 232, 1);
  --harsh09officialwixsitecomdove-gray: rgba(105, 105, 105, 1);
  --harsh-0-9officialwixsitecomdowny: rgba(109, 209, 202, 1);
  --harsh09officialwixsitecomebony-clay: rgba(32, 48, 60, 1);
  --harsh09officialwixsitecommercury-80: rgba(232, 230, 230, 0.8);
  --harsh-0-9officialwixsitecommidnight: rgba(1, 34, 65, 1);
  --harsh-0-9officialwixsitecomporcelain: rgba(239, 241, 242, 1);
  --harsh09officialwixsitecomquarter-spanish-white: rgba(249, 241, 230, 1);
  --harsh-0-9officialwixsitecomsupernova: rgba(255, 204, 0, 1);
  --harsh09officialwixsitecomviolet-eggplant: rgba(160, 19, 142, 1);
  --harsh-0-9officialwixsitecomviridian: rgba(67, 142, 121, 1);
  --harsh-0-9officialwixsitecomwhite: rgba(255, 255, 255, 1);
  --harsh09officialwixsitecomwhite-rock: rgba(238, 232, 216, 1);
  --harsh09official-wixsite-com-inter-bold-16-45-font-family: "Inter", Helvetica;
  --harsh09official-wixsite-com-inter-bold-16-45-font-weight: 700;
  --harsh09official-wixsite-com-inter-bold-16-45-font-size: 16.453125px;
  --harsh09official-wixsite-com-inter-bold-16-45-letter-spacing: 0px;
  --harsh09official-wixsite-com-inter-bold-16-45-line-height: 32.400001525878906px;
  --harsh09official-wixsite-com-inter-bold-16-45-font-style: normal;
  --harsh09official-wixsite-com-inter-bold-17-97-font-family: "Inter", Helvetica;
  --harsh09official-wixsite-com-inter-bold-17-97-font-weight: 700;
  --harsh09official-wixsite-com-inter-bold-17-97-font-size: 17.96875px;
  --harsh09official-wixsite-com-inter-bold-17-97-letter-spacing: 0px;
  --harsh09official-wixsite-com-inter-bold-17-97-line-height: normal;
  --harsh09official-wixsite-com-inter-bold-17-97-font-style: normal;
  --harsh09official-wixsite-com-inter-regular-12-8-font-family: "Inter", Helvetica;
  --harsh09official-wixsite-com-inter-regular-12-8-font-weight: 400;
  --harsh09official-wixsite-com-inter-regular-12-8-font-size: 12.796875px;
  --harsh09official-wixsite-com-inter-regular-12-8-letter-spacing: 0px;
  --harsh09official-wixsite-com-inter-regular-12-8-line-height: normal;
  --harsh09official-wixsite-com-inter-regular-12-8-font-style: normal;
  --harsh09official-wixsite-com-inter-regular-13-01-font-family: "Inter", Helvetica;
  --harsh09official-wixsite-com-inter-regular-13-01-font-weight: 400;
  --harsh09official-wixsite-com-inter-regular-13-01-font-size: 13.0078125px;
  --harsh09official-wixsite-com-inter-regular-13-01-letter-spacing: 0px;
  --harsh09official-wixsite-com-inter-regular-13-01-line-height: 50px;
  --harsh09official-wixsite-com-inter-regular-13-01-font-style: normal;
  --harsh09official-wixsite-com-inter-regular-13-13-font-family: "Inter", Helvetica;
  --harsh09official-wixsite-com-inter-regular-13-13-font-weight: 400;
  --harsh09official-wixsite-com-inter-regular-13-13-font-size: 13.125px;
  --harsh09official-wixsite-com-inter-regular-13-13-letter-spacing: 0px;
  --harsh09official-wixsite-com-inter-regular-13-13-line-height: 50px;
  --harsh09official-wixsite-com-inter-regular-13-13-font-style: normal;
  --harsh09official-wixsite-com-inter-regular-13-63-font-family: "Inter", Helvetica;
  --harsh09official-wixsite-com-inter-regular-13-63-font-weight: 400;
  --harsh09official-wixsite-com-inter-regular-13-63-font-size: 13.625px;
  --harsh09official-wixsite-com-inter-regular-13-63-letter-spacing: 0px;
  --harsh09official-wixsite-com-inter-regular-13-63-line-height: 22.399999618530273px;
  --harsh09official-wixsite-com-inter-regular-13-63-font-style: normal;
  --harsh09official-wixsite-com-inter-regular-13-78-font-family: "Inter", Helvetica;
  --harsh09official-wixsite-com-inter-regular-13-78-font-weight: 400;
  --harsh09official-wixsite-com-inter-regular-13-78-font-size: 13.78125px;
  --harsh09official-wixsite-com-inter-regular-13-78-letter-spacing: 1.399999976158142px;
  --harsh09official-wixsite-com-inter-regular-13-78-line-height: normal;
  --harsh09official-wixsite-com-inter-regular-13-78-font-style: normal;
  --harsh09official-wixsite-com-inter-regular-13-95-font-family: "Inter", Helvetica;
  --harsh09official-wixsite-com-inter-regular-13-95-font-weight: 400;
  --harsh09official-wixsite-com-inter-regular-13-95-font-size: 13.9453125px;
  --harsh09official-wixsite-com-inter-regular-13-95-letter-spacing: 0px;
  --harsh09official-wixsite-com-inter-regular-13-95-line-height: 50px;
  --harsh09official-wixsite-com-inter-regular-13-95-font-style: normal;
  --harsh09official-wixsite-com-inter-regular-14-06-font-family: "Inter", Helvetica;
  --harsh09official-wixsite-com-inter-regular-14-06-font-weight: 400;
  --harsh09official-wixsite-com-inter-regular-14-06-font-size: 14.0625px;
  --harsh09official-wixsite-com-inter-regular-14-06-letter-spacing: 0px;
  --harsh09official-wixsite-com-inter-regular-14-06-line-height: 50px;
  --harsh09official-wixsite-com-inter-regular-14-06-font-style: normal;
  --harsh09official-wixsite-com-inter-regular-14-88-font-family: "Inter", Helvetica;
  --harsh09official-wixsite-com-inter-regular-14-88-font-weight: 400;
  --harsh09official-wixsite-com-inter-regular-14-88-font-size: 14.875px;
  --harsh09official-wixsite-com-inter-regular-14-88-letter-spacing: 0px;
  --harsh09official-wixsite-com-inter-regular-14-88-line-height: 22.399999618530273px;
  --harsh09official-wixsite-com-inter-regular-14-88-font-style: normal;
  --harsh09official-wixsite-com-inter-regular-15-font-family: "Inter", Helvetica;
  --harsh09official-wixsite-com-inter-regular-15-font-weight: 400;
  --harsh09official-wixsite-com-inter-regular-15-font-size: 15px;
  --harsh09official-wixsite-com-inter-regular-15-letter-spacing: 0px;
  --harsh09official-wixsite-com-inter-regular-15-line-height: 22.399999618530273px;
  --harsh09official-wixsite-com-inter-regular-15-font-style: normal;
  --harsh09official-wixsite-com-inter-regular-15-13-font-family: "Inter", Helvetica;
  --harsh09official-wixsite-com-inter-regular-15-13-font-weight: 400;
  --harsh09official-wixsite-com-inter-regular-15-13-font-size: 15.125px;
  --harsh09official-wixsite-com-inter-regular-15-13-letter-spacing: 0px;
  --harsh09official-wixsite-com-inter-regular-15-13-line-height: 22.399999618530273px;
  --harsh09official-wixsite-com-inter-regular-15-13-font-style: normal;
  --harsh09official-wixsite-com-inter-regular-15-25-font-family: "Inter", Helvetica;
  --harsh09official-wixsite-com-inter-regular-15-25-font-weight: 400;
  --harsh09official-wixsite-com-inter-regular-15-25-font-size: 15.25px;
  --harsh09official-wixsite-com-inter-regular-15-25-letter-spacing: 0px;
  --harsh09official-wixsite-com-inter-regular-15-25-line-height: 22.399999618530273px;
  --harsh09official-wixsite-com-inter-regular-15-25-font-style: normal;
  --harsh09official-wixsite-com-inter-regular-15-27-font-family: "Inter", Helvetica;
  --harsh09official-wixsite-com-inter-regular-15-27-font-weight: 400;
  --harsh09official-wixsite-com-inter-regular-15-27-font-size: 15.2734375px;
  --harsh09official-wixsite-com-inter-regular-15-27-letter-spacing: 0px;
  --harsh09official-wixsite-com-inter-regular-15-27-line-height: 27.200000762939453px;
  --harsh09official-wixsite-com-inter-regular-15-27-font-style: normal;
  --harsh09official-wixsite-com-inter-regular-15-38-font-family: "Inter", Helvetica;
  --harsh09official-wixsite-com-inter-regular-15-38-font-weight: 400;
  --harsh09official-wixsite-com-inter-regular-15-38-font-size: 15.375px;
  --harsh09official-wixsite-com-inter-regular-15-38-letter-spacing: 0px;
  --harsh09official-wixsite-com-inter-regular-15-38-line-height: 22.399999618530273px;
  --harsh09official-wixsite-com-inter-regular-15-38-font-style: normal;
  --harsh09official-wixsite-com-inter-regular-15-67-font-family: "Inter", Helvetica;
  --harsh09official-wixsite-com-inter-regular-15-67-font-weight: 400;
  --harsh09official-wixsite-com-inter-regular-15-67-font-size: 15.671875px;
  --harsh09official-wixsite-com-inter-regular-15-67-letter-spacing: 0px;
  --harsh09official-wixsite-com-inter-regular-15-67-line-height: 27.200000762939453px;
  --harsh09official-wixsite-com-inter-regular-15-67-font-style: normal;
  --harsh09official-wixsite-com-inter-regular-15-8-font-family: "Inter", Helvetica;
  --harsh09official-wixsite-com-inter-regular-15-8-font-weight: 400;
  --harsh09official-wixsite-com-inter-regular-15-8-font-size: 15.8046875px;
  --harsh09official-wixsite-com-inter-regular-15-8-letter-spacing: 0px;
  --harsh09official-wixsite-com-inter-regular-15-8-line-height: 27.200000762939453px;
  --harsh09official-wixsite-com-inter-regular-15-8-font-style: normal;
  --harsh09official-wixsite-com-inter-regular-15-94-font-family: "Inter", Helvetica;
  --harsh09official-wixsite-com-inter-regular-15-94-font-weight: 400;
  --harsh09official-wixsite-com-inter-regular-15-94-font-size: 15.9375px;
  --harsh09official-wixsite-com-inter-regular-15-94-letter-spacing: 0px;
  --harsh09official-wixsite-com-inter-regular-15-94-line-height: 27.200000762939453px;
  --harsh09official-wixsite-com-inter-regular-15-94-font-style: normal;
  --harsh09official-wixsite-com-inter-regular-16-07-font-family: "Inter", Helvetica;
  --harsh09official-wixsite-com-inter-regular-16-07-font-weight: 400;
  --harsh09official-wixsite-com-inter-regular-16-07-font-size: 16.0703125px;
  --harsh09official-wixsite-com-inter-regular-16-07-letter-spacing: 0px;
  --harsh09official-wixsite-com-inter-regular-16-07-line-height: 27.200000762939453px;
  --harsh09official-wixsite-com-inter-regular-16-07-font-style: normal;
  --harsh09official-wixsite-com-inter-regular-16-2-font-family: "Inter", Helvetica;
  --harsh09official-wixsite-com-inter-regular-16-2-font-weight: 400;
  --harsh09official-wixsite-com-inter-regular-16-2-font-size: 16.203125px;
  --harsh09official-wixsite-com-inter-regular-16-2-letter-spacing: 0px;
  --harsh09official-wixsite-com-inter-regular-16-2-line-height: 27.200000762939453px;
  --harsh09official-wixsite-com-inter-regular-16-2-font-style: normal;
  --harsh09official-wixsite-com-inter-regular-16-34-font-family: "Inter", Helvetica;
  --harsh09official-wixsite-com-inter-regular-16-34-font-weight: 400;
  --harsh09official-wixsite-com-inter-regular-16-34-font-size: 16.3359375px;
  --harsh09official-wixsite-com-inter-regular-16-34-letter-spacing: 0px;
  --harsh09official-wixsite-com-inter-regular-16-34-line-height: 27.200000762939453px;
  --harsh09official-wixsite-com-inter-regular-16-34-font-style: normal;
  --harsh09official-wixsite-com-inter-regular-16-47-font-family: "Inter", Helvetica;
  --harsh09official-wixsite-com-inter-regular-16-47-font-weight: 400;
  --harsh09official-wixsite-com-inter-regular-16-47-font-size: 16.46875px;
  --harsh09official-wixsite-com-inter-regular-16-47-letter-spacing: 0px;
  --harsh09official-wixsite-com-inter-regular-16-47-line-height: 23.799999237060547px;
  --harsh09official-wixsite-com-inter-regular-16-47-font-style: normal;
  --harsh09official-wixsite-com-inter-regular-16-73-font-family: "Inter", Helvetica;
  --harsh09official-wixsite-com-inter-regular-16-73-font-weight: 400;
  --harsh09official-wixsite-com-inter-regular-16-73-font-size: 16.734375px;
  --harsh09official-wixsite-com-inter-regular-16-73-letter-spacing: 0px;
  --harsh09official-wixsite-com-inter-regular-16-73-line-height: 27.200000762939453px;
  --harsh09official-wixsite-com-inter-regular-16-73-font-style: normal;
  --harsh09official-wixsite-com-inter-regular-17-font-family: "Inter", Helvetica;
  --harsh09official-wixsite-com-inter-regular-17-font-weight: 400;
  --harsh09official-wixsite-com-inter-regular-17-font-size: 17px;
  --harsh09official-wixsite-com-inter-regular-17-letter-spacing: 0px;
  --harsh09official-wixsite-com-inter-regular-17-line-height: 27.200000762939453px;
  --harsh09official-wixsite-com-inter-regular-17-font-style: normal;
  --harsh09official-wixsite-com-montserrat-bold-56-font-family: "Montserrat", Helvetica;
  --harsh09official-wixsite-com-montserrat-bold-56-font-weight: 700;
  --harsh09official-wixsite-com-montserrat-bold-56-font-size: 56px;
  --harsh09official-wixsite-com-montserrat-bold-56-letter-spacing: 0px;
  --harsh09official-wixsite-com-montserrat-bold-56-line-height: normal;
  --harsh09official-wixsite-com-montserrat-bold-56-font-style: normal;
  --harsh09official-wixsite-com-montserrat-regular-18-font-family: "Montserrat", Helvetica;
  --harsh09official-wixsite-com-montserrat-regular-18-font-weight: 400;
  --harsh09official-wixsite-com-montserrat-regular-18-font-size: 18px;
  --harsh09official-wixsite-com-montserrat-regular-18-letter-spacing: 0px;
  --harsh09official-wixsite-com-montserrat-regular-18-line-height: normal;
  --harsh09official-wixsite-com-montserrat-regular-18-font-style: normal;
  --harsh09official-wixsite-com-montserrat-bold-20-font-family: "Montserrat", Helvetica;
  --harsh09official-wixsite-com-montserrat-bold-20-font-weight: 700;
  --harsh09official-wixsite-com-montserrat-bold-20-font-size: 20px;
  --harsh09official-wixsite-com-montserrat-bold-20-letter-spacing: 0px;
  --harsh09official-wixsite-com-montserrat-bold-20-line-height: normal;
  --harsh09official-wixsite-com-montserrat-bold-20-font-style: normal;
  --harsh09official-wixsite-com-montserrat-bold-24-font-family: "Montserrat", Helvetica;
  --harsh09official-wixsite-com-montserrat-bold-24-font-weight: 700;
  --harsh09official-wixsite-com-montserrat-bold-24-font-size: 24px;
  --harsh09official-wixsite-com-montserrat-bold-24-letter-spacing: 0px;
  --harsh09official-wixsite-com-montserrat-bold-24-line-height: normal;
  --harsh09official-wixsite-com-montserrat-bold-24-font-style: normal;
  --harsh09official-wixsite-com-montserrat-regular-20-font-family: "Montserrat", Helvetica;
  --harsh09official-wixsite-com-montserrat-regular-20-font-weight: 400;
  --harsh09official-wixsite-com-montserrat-regular-20-font-size: 20px;
  --harsh09official-wixsite-com-montserrat-regular-20-letter-spacing: 0px;
  --harsh09official-wixsite-com-montserrat-regular-20-line-height: normal;
  --harsh09official-wixsite-com-montserrat-regular-20-font-style: normal;
  --harsh09official-wixsite-com-arial-narrow-14-font-family: "Arial", Helvetica;
  --harsh09official-wixsite-com-arial-narrow-14-font-weight: 400;
  --harsh09official-wixsite-com-arial-narrow-14-font-size: 14px;
  --harsh09official-wixsite-com-arial-narrow-14-letter-spacing: 0px;
  --harsh09official-wixsite-com-arial-narrow-14-line-height: normal;
  --harsh09official-wixsite-com-arial-narrow-14-font-style: normal;
}